<div class="auth-card">
    <div style="display: flex;justify-content: space-between;margin-bottom: 16px;">
        <button class="tab-btn" [class.active]="isLoginMode" (click)="toggleMode()">
            Log In
        </button>&nbsp;
        <button class="tab-btn" [class.active]="!isLoginMode" (click)="toggleMode()">
            Sign Up
        </button>
    </div>

    <h3 class="title">{{ isLoginMode ? 'Log In' : 'Sign Up' }} for membership</h3>
    <div *ngIf="isLoginMode">
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Phone:</label>
                <div class="otp-input">
                    <input formControlName="phone" type="text" placeholder="Phone Number">
                    <button type="button" (click)="sendOTP()" style="font-size: 12px;">Send OTP</button>
                </div>
            </div>
            <div class="form-group">
                <label>Enter OTP:</label>
                <div class="otp-input">
                    <input formControlName="otp" type="text" placeholder="Enter OTP">
                </div>
            </div>
            <button class="login-btn" type="submit" style="font-size: 12px;">Log In</button>
        </form>
    </div>
</div>